USE [master]
GO
/****** Object:  Database [Interview]    Script Date: 14-04-2023 18:35:54 ******/
CREATE DATABASE [Interview]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Interview', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Interview.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Interview_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Interview_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Interview].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Interview]
GO
/****** Object:  Table [dbo].[cars_master]    Script Date: 14-04-2023 18:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cars_master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[car_brand] [varchar](30) NULL,
	[car_model] [varchar](30) NULL,
	[year] [numeric](5, 0) NULL,
	[price] [decimal](10, 2) NULL,
	[isNew] [bit] NULL,
	[user_Id] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_master]    Script Date: 14-04-2023 18:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [varchar](40) NULL,
	[email] [varchar](40) NULL,
	[mobile] [varchar](13) NULL,
	[password] [varchar](40) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cars_master] ADD  DEFAULT ('True') FOR [isNew]
GO
ALTER TABLE [dbo].[cars_master] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_master] ADD  DEFAULT (getdate()) FOR [created_at]
GO
USE [master]
GO
