@{
    ViewBag.Title = "Home Page";
}

<main>

    @if (Session["userId"] != null)
 
    {
       <button class="btn btn-primary" id="createCarModalBtn">Add Car</button>
        
    }

    <div class="modal fade" id="createCarModal" tabindex="-1" role="dialog" aria-labelledby="createCarModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>



</main>